.LinkGroup{
  background-color: white;
  border-bottom: solid black 1px;
  ul{
    display: block;
    list-style-type: none;
    padding: 10px;
  }
  li {
    display: block;
    margin: 10px;
  }
  a {
    text-decoration: none;
    @include link-font();
  }
}
