div .Title {
  //Style

  // Position
  display: flex;
  position: absolute;
  width: 100%;
  height: 72px;
  top: 50%;

  //Utils
  pointer-events: none;

  p {
    background-color: white;
    padding: 10px;
    margin: auto;
    font-size: 40px;
  }
}